@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* common css style */
.container {
    max-width: 1128px;
    margin: 0 auto;
}

/* title style */
.title {
    font-size: 36px;
    font-weight: 700;
    color: #1F1F1F;
}

/* paragraph style */
.paragraph_title {
    font-size: 14px;
    font-weight: 400;
    color: #4E4E4E;
    line-height: 26px;
}

/* sub title style */
.sub_title {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

/* card btn style */
.card_btn {
    padding: 16px 28px;
    border: none;
    background: #000000;
    border-radius: 6px;
    cursor: pointer;
}

/* card style */
.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    margin-bottom: 98px;
}

.card_item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

/* header part start */
.header_top_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 147px;
}

.header_banner_part {
    background-color: #FEEAE9;
    margin-top: 49px;
    padding: 38px 49px 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_info {
    max-width: 560px;
}

.banner_info h1 {
    font-size: 54px;
    color: #1F1F1F;
    font-weight: bold;
}

.banner_info p {
    width: 436px;
}

.banner_info h2 {
    font-size: 41px;
    font-weight: 600;
    color: #FF136F;
}

button.btn {
    border: none;
    padding: 14px 20px;
    background-color: rgba(255, 88, 155, 1);
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 6px;
}

/* catagories part start*/
.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;

}

.categories_heading {
    margin: 70px 0px;
}

.categories_item {
    width: 359px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 24px;
}

.orange {
    background: rgba(255, 156, 53, 1);
}

.pink {
    background: rgba(255, 19, 111, 1);
}

.blue {
    background: rgba(63, 7, 248, 1);
}

/* card part start */
.card_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card_info {
    text-align: center;
    padding: 0px 24px;
    margin-bottom: 24px;
}

.card_info h3 {
    font-size: 24px;
}

.card_info p {
    margin: 16px 0px 12px;
}

h4.sub_title {
    margin-bottom: 16px;
}

button.card_btn a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;

}

button.card_btn a i {
    margin-left: 10px;
}

/* backpart style */
.card_item.backpack_item img {
    width: 100%;
    margin: 0 auto;
}

/* footer style */
.footer_details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFF2F1;
    padding: 146px 246px;
}

.footer_btn {
    display: flex;
    align-items: center;
    width: 683px;
    height: 73px;
    background: white;
    position: relative;
    padding: 0px 10px;
    border-radius: 5px;
    margin-top: 1rem;
    flex-wrap: wrap;
}

input#email {
    border: none;
    font-size: 16px;
    color: #CCCCCC;
    font-weight: 400;
}

input#email:focus {
    border: none;
}

button.submit_btn {
    border: none;
    background: rgba(255, 88, 155, 1);
    position: absolute;
    right: 2px;
    font-size: 16px;
    width: 157px;
    height: 73px;
    overflow: hidden;
    color: #FFFFFF;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

/* responsive design */
/* small device */
@media screen and (max-width:320px) {
    .banner_info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header_banner_part {
        flex-direction: column;
    }

    .banner_info h1 {
        font-size: 22px;
    }

    .banner_info h2 {
        font-size: 32px;
    }

    button.btn {
        padding: 12px 20px;
        font-size: 14px;
    }

    .banner_info p {
        width: 259px;
        text-align: justify;
        margin: 15px 0px;
    }

    .banner_img img {
        width: 300px;
    }

    .title {
        text-align: center;
        font-size: 25px;
    }

    .categories {
        flex-wrap: wrap;
    }

    .categories_item {
        margin-left: 15px;
    }

    .card {
        flex-wrap: wrap;
        margin: 32px 0px 18px 0px;

    }

    /* .card_item img {
        width: 100%;
    } */
    .card_img {
        width: 100%;
    }

    .card_info h3 {
        font-size: 18px;
    }

    .paragraph_title {
        font-size: 13px;
        line-height: 24px;
    }

    .sub_title {
        font-size: 20px;
    }

    h4.sub_title {
        margin-bottom: 12px;
    }

    .card_btn {
        padding: 12px 16px;
    }

    button.card_btn a {
        font-size: 12px;

    }

    .footer_details {
        flex-wrap: nowrap;
        padding: 32px 0px;
    }

    .footer_btn {
        width: 312px;
        height: 45px;
    }

    button.submit_btn {
        font-size: 15px;
        width: 100px;
        height: 46px;
    }

    input#email {
        font-size: 14px;
    }

}

/* Mobile Device  */
@media screen and (min-width:321px) and (max-width:640px) {
    .header_banner_part {
        margin-top: 25px;
        padding: 21px 18px 19px;
        flex-direction: column;
    }

    .banner_info {
        text-align: center;
    }

    .banner_info p {
        width: 100%;
    }

    .banner_info h1 {
        font-size: 28px;
    }

    .paragraph_title {
        font-size: 15px;
    }

    .banner_info h2 {
        font-size: 30px;
        margin: 7px 0px;
    }

    button.btn {
        padding: 10px 22px;
        font-size: 14px;
    }

    .categories {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title {
        font-size: 28px !important;
        text-align: center;
    }

    .categories_item {
        width: 85%;
        font-size: 1.5rem;
    }

    .card {
        flex-wrap: wrap;
        margin-bottom: 36px;
    }

    .card.backpack_section {
        margin-top: 28px;
    }

    .card_item.backpack_item img {
        width: 60%;
        margin: 0 auto;
    }

    .card_info h3 {
        font-size: 24px;
    }

    .footer_details {
        padding: 20px 0px;
    }

    .footer_details {
        flex-wrap: nowrap;
    }

    .footer_btn {
        width: 321px;
        height: 50px;
    }

    button.submit_btn {
        font-size: 15px;
        width: 122px;
        height: 50px;
    }
}


/* Tablet Device */
@media screen and (min-width:641px) and (max-width:992px) {
    .logo img {
        padding-left: 10px;
    }

    .header_banner_part {
        margin-top: 20px;
    }

    .header_banner_part {
        flex-direction: column;
        justify-content: center;
    }

    .paragraph_title {
        font-size: 16px;
    }

    .banner_info p {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }

    .banner_info {
        text-align: center;
    }

    .categories_item {
        width: 100%;
        margin: 0 auto;

    }

    .title {
        margin-left: 35px;
    }

    .footer_details {
        padding: 41px 27px;
    }

    .footer_btn {
        width: 80%;
    }

    .shoes_section {
        width: 100%;
        display: flex;
    }
}

/*  Laptop Device*/
@media screen and (min-width:993px) and (max-width:1200px) {
    .footer_details {
        padding: 117px 149px;
    }

    .title {
        margin-bottom: 20px;
    }
}